.checkout{
  .section-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__nameProduct{}
  &__timer{
      &-title{
          color: #396;
          font-weight: 100;
          font-size: 40px;
          margin: 40px 0px 20px;
      }
      &-time{
          padding: 15px;
          border-radius: 3px;
          display: inline-block;
      }
      &-text{
          display: inline-block;
          padding-top: 5px;
          font-size: 16px;
          color: #00816a;
      }
      &-number{
          padding: 10px;
          border-radius: 3px;
          display: inline-block;
      }
      .timer{
          font-family: sans-serif;
          color: #00816a;
          display: inline-block;
          font-weight: 100;
          text-align: center;
          font-size: 30px;
      }
      .hours {}
      .minutes {}
      .seconds {}
  }
      &__priceForm{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
          &-form{
              .on-focus{
                  input:focus + .tool-tip-bottom{
                      visibility: visible;
                      opacity: 1;
                      transition: all 240ms ease-in-out;		
                  }
              }
              &-name{}
              &-phone{}

              .tool-tip-bottom{
                  color: #fff;
                  background-color: rgba( 0, 0, 0, .7);
                  text-shadow: none;
                  font-size: .8em;
                  visibility: hidden;
                  border-radius: 7px;	
                  text-align: center;	
                  opacity: 0;
                  z-index: 999;
                  padding: 3px 8px;	
                  position: absolute;
                  cursor: default;
                  transition: all 240ms ease-in-out;	
                  width: 80px;
                  height: 22px;
                  margin-left: -43px;
                  top: 115%;
                  bottom: auto;
                  left: 50%;
                  margin-bottom: auto;
                  
                  &:after{
                      position: absolute;
                      top: -12px;
                      left: 50%;
                      margin-left: -7px;
                      content: ' ';
                      height: 0px;
                      width: 0px;
                      border: 6px solid transparent;
                      border-top-color: transparent;	
                      border-bottom-color: rgba( 0, 0, 0, .6);	
                  }	
              }
          }
          &-priceProd{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &-price{
              font-size: 150%;
              &-old{
                display: block;
                text-decoration: line-through;
                font-size: smaller;
              }
              &-new{
                display: block;
                font-size: larger;
              }
            }
            &-prod{

              &-img{}
            }
          }
      }

      
}