.checkout {
  background: #66a1e6;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(102, 161, 230, 0.74)), color-stop(50%, rgba(189, 187, 187, 0.723)), to(rgba(95, 156, 226, 0.737)));
  background: linear-gradient(0deg, rgba(102, 161, 230, 0.74) 0%, rgba(189, 187, 187, 0.723) 50%, rgba(95, 156, 226, 0.737) 100%);
}

.checkout .section-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkout__nameProduct {
  font-size: 300%;
  font-weight: bold;
  color: #d1aa12;
}

.checkout__timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout__timer-title {
  color: #e43636;
  font-weight: 100;
  font-size: 250%;
  margin: 40px 0px 20px;
  font-weight: bold;
  text-align: center;
}

.checkout__timer-time {
  border-radius: 3px;
  display: inline-block;
}

.checkout__timer-text {
  display: inline-block;
  font-size: 65%;
  color: #e43636;
}

.checkout__timer-number {
  border-radius: 3px;
  display: inline-block;
}

.checkout__timer .timer {
  font-family: sans-serif;
  color: #e43636;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  font-size: 240%;
}

.checkout__priceForm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.checkout__priceForm-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.checkout__priceForm-form label {
  display: block;
  margin-bottom: 1vw;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.checkout__priceForm-form .on-focus {
  position: relative;
}

.checkout__priceForm-form .on-focus input:focus + .tool-tip-bottom {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 240ms ease-in-out;
  transition: all 240ms ease-in-out;
}

.checkout__priceForm-form-name {
  font-size: 100%;
  padding: 3px 5px;
  margin-bottom: 5vw;
}

.checkout__priceForm-form-phone {
  font-size: 100%;
  padding: 3px 5px;
  margin-bottom: 5vw;
}

.checkout__priceForm-form .tool-tip-bottom {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 80%;
  visibility: hidden;
  border-radius: 7px;
  text-align: center;
  opacity: 0;
  z-index: 999;
  padding: 3px 8px;
  position: absolute;
  cursor: default;
  -webkit-transition: all 240ms ease-in-out;
  transition: all 240ms ease-in-out;
  width: 225px;
  height: 50px;
  top: calc(100% - 5vw + 5px);
  left: calc(100% - 225px / 2);
}

.checkout__priceForm-priceProd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkout__priceForm-priceProd-price {
  font-size: 150%;
}

.checkout__priceForm-priceProd-price-old {
  font-size: 120%;
  color: #777373;
  display: block;
  text-decoration: line-through;
  margin: 2vw;
  text-align: center;
}

.checkout__priceForm-priceProd-price-new {
  text-align: center;
  color: #e43636;
  display: block;
  margin: 1vw;
  font-size: 200%;
}

.checkout__priceForm-priceProd-prod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=checkout.css.map */