.composition{
//     background: rgb(135,182,238);
// background: radial-gradient(circle, rgba(135,182,238,1) 24%, rgba(102,161,230,1) 44%, rgba(255,255,255,1) 100%);

background: rgb(135,182,238);
background: radial-gradient(circle, rgba(135,182,238,0.8463760504201681) 24%, rgba(102,161,230,0.742734593837535) 44%, rgba(255,255,255,0.2189250700280112) 100%);
    .section-inner{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    &__sideColumn{
        
        &:last-child{
            .composition__sideColumn-item-text{
                order:1;
            }
            .composition__sideColumn-item-img{
                order:2;
            }
        }
        &-item{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            &-img{
                width: 10vw;
                height: 10vw;
                border-radius: 50%;
                margin: 50px;
            }
            &-text{
                margin: 0 50px 0 50px;
                font-weight: bold;
            }
        }
        
    }
    &__centerColumn{
        height: 100%;
        display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        &-img{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 17vw;
            height: 30vw;
        }
    }
}